h1{
    color:rgb(151, 119, 15);
    text-align: center;
    text-shadow: 18px 5px rgb(252, 252, 252);
    font-size: 25px;
}
meta{
    color: black;
}rgb(69, 83, 79)

body{
    background-color: blue
}