h1{
    background: linear-gradient(to left,#87a068,#7a9682,#757e49);
    background-clip: text;
    color: transparent;
    text-align: center;
    

    font-size: 25px;

}
main{
 background-color: rgb(221, 219, 219);
}
body{
    background-color: #ffffff;
}
 
p{
    color: rgb(0, 0, 0);
}