h1{
    background: linear-gradient(to left,#87a068,#7a9682,#757e49);
    background-clip: text;
    color: transparent;
    text-align: center;
    

    font-size: 25px;

}
main{

}
body{
    background-color: #A44A3F;
}
 
p{
    color: rgb(0, 0, 0);
}